name: Test
on:
  pull_request:
  push:
    branches:
      - master
      - 'releases/*'

jobs:
  test:
    strategy:
      matrix:
        runs-on: [ubuntu-20.04, ubuntu-18.04]
    runs-on: ${{ matrix.runs-on }}
    services:
      svn:
        image: futureys/svn-repository
        env:
          USER_1_NAME: svn_user_name
          USER_1_PASS: p@ssW0rd
    steps:
      - name: Set deploy version
        run: echo "EXPECT_DEPLOY_VERSION=$(echo ${GITHUB_REF#refs/tags/})" >> $GITHUB_ENV

      - name: Checkout project
        uses: actions/checkout@v3
        with:
          repository: yukihiko-shinoda/staticpress
          ref: '0.4.1'
      - name: Checkout action
        uses: actions/checkout@v3
        with:
          path: ./.github/actions/deploy
      - name: Deploy
        uses: ./.github/actions/deploy/
        with:
          expect-deploy-version-for-test: ${{ env.EXPECT_DEPLOY_VERSION }}
          deploy-version-for-test: '0.4.1'
        env:
          SVN_REPOSITORY_URL: svn://svn/project-in-svn
          SVN_USER_NAME: svn_user_name
          SVN_USER_PASSWORD: p@ssW0rd

      - name: Checkout project
        uses: actions/checkout@v3
        with:
          repository: yukihiko-shinoda/staticpress
          ref: '0.4.2'
      - name: Checkout action
        uses: actions/checkout@v3
        with:
          path: ./.github/actions/deploy
      - name: Deploy
        uses: ./.github/actions/deploy/
        with:
          expect-deploy-version-for-test: ${{ env.EXPECT_DEPLOY_VERSION }}
          deploy-version-for-test: '0.4.2'
        env:
          SVN_REPOSITORY_URL: svn://svn/project-in-svn
          SVN_USER_NAME: svn_user_name
          SVN_USER_PASSWORD: p@ssW0rd

      - name: Checkout project
        uses: actions/checkout@v3
        with:
          repository: yukihiko-shinoda/staticpress
          ref: '0.4.5'
      - name: Checkout action
        uses: actions/checkout@v3
        with:
          path: ./.github/actions/deploy
      - name: Deploy
        uses: ./.github/actions/deploy/
        with:
          expect-deploy-version-for-test: ${{ env.EXPECT_DEPLOY_VERSION }}
          deploy-version-for-test: '0.4.5'
        env:
          SVN_REPOSITORY_URL: svn://svn/project-in-svn
          SVN_USER_NAME: svn_user_name
          SVN_USER_PASSWORD: p@ssW0rd
